{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    <form method="POST">
        <input type="submit" name="confirm" value="I confirm order purchase">
    </form>
{% endblock %}
