language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

env:
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.5.*
  - SYMFONY_VERSION=2.6.*

sudo: false

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer require symfony/symfony:${SYMFONY_VERSION} --prefer-source --no-update
  - composer install --dev --prefer-source

notifications:
  email:
    - payumsupport@forma-pro.com
