<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <var name="__PAYUM_AUTHORIZE_NET_AIM_API_LOGIN_ID" value="54PB5egZ"/>
    <var name="__PAYUM_AUTHORIZE_NET_AIM_API_TRANSACTION_KEY" value="48V258vr55AE8tcg"/>
  </php>
  <testsuites>
    <testsuite name="Payum AuthorizeNetAim Component Test Suite">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
