<!DOCTYPE html>
<html>
    <head>
        <title>Redirecting...</title>
    </head>
    <body onload="document.forms[0].submit();">
        <form action="{{ url }}" method="post">
            <p>Redirecting to payment page...</p>
            <p>
                {% for field, value in data %}
                    <input type="hidden" name="{{ field }}" value="{{ value }}" />
                {% endfor %}
                <input type="submit" value="Continue" />
            </p>
        </form>
    </body>
</html>
