<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
<coverage>
    <include>
        <directory>./</directory>
    </include>
    <exclude>
        <directory>./Tests</directory>
        <directory>./vendor</directory>
    </exclude>
</coverage>
<testsuites>
    <testsuite name="Payum PaypalIpn Component Test Suite">
        <directory>./Tests</directory>
    </testsuite>
</testsuites>
</phpunit>
