<!DOCTYPE html>
<html>
    <head>
        {% block payum_stylesheets "" %}
    </head>
    <body>
        {% block payum_body "" %}
        {% block payum_vendor_javascripts "" %}
        {% block payum_javascripts "" %}
    </body>
</html>
