language: php

php:
  - 5.5
  - 5.6
  - hhvm
  - nightly

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  allow_failures:
    - php: hhvm

before_install:
    - composer self-update

install:
    - composer --prefer-source install

notifications:
  email:
    - payumsupport@forma-pro.com
