<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <var name="__PAYUM_PAYPAL_PRO_CHECKOUT_NVP_API_USERNAME" value="palexanderpayflowtestapionly"/>
    <var name="__PAYUM_PAYPAL_PRO_CHECKOUT_NVP_API_PASSWORD" value="demopass123"/>
    <var name="__PAYUM_PAYPAL_PRO_CHECKOUT_NVP_API_PARTNER" value="PayPal"/>
    <var name="__PAYUM_PAYPAL_PRO_CHECKOUT_NVP_API_VENDOR" value="palexanderpayflowtest"/>
  </php>
  <testsuites>
    <testsuite name="Payum PaypalProCheckoutNvp Component Test Suite">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
